<%= form_for([resource, comment])  do |f| %>
    <div class="field">
      <%= f.hidden_field :commentable_type, value: resource.class %>
      <%= f.hidden_field :commentable_id, value: resource.id %>
      <%= f.text_area :body, placeholder: "Fill comment.." %>
    </div>
  <%= f.submit "OK", class: "btn btn-success" %>
<% end %>
